

/*

Brand Color - #ff694c

*/



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
    overflow-x: hidden;
}


body{
    font-family: 'Raleway', sans-serif;
    color: #565a5c;
    line-height: 1.6em;
    overflow-x: hidden;
    font-size: 16px;
}

section{
    padding: 5% 0;
}

.section:not(:last-child){
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

}

section:nth-of-type(1){
    height: 60vh;

}

.brand-c{
    color: #ff694c;

}

/* =====================================================================================================================
                                            Navigation Section
   =================================================================================================================== */

.custom-navbar{
    margin: 0;
    height: 80px;
    z-index: 1;
    border: 0;
    box-shadow: none;
    background: transparent;
}

.custom-brand {
    height: auto;
}



header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    transition: all .4s ease-in-out;
}

header.fill{
    background-color: #fff;
    height: 80px;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), inset 1px 1px 0 0 hsla(0,0%,100%,.2);
}


header nav ul li{
    list-style: none;
    display: inline-block;
}


.menu-left,
.menu-right{
    padding: 20px 30px;
}

header nav .menu-left{
    float: left;
}

header nav .menu-right{
    float: right;
}

.n-toggle{
    cursor: pointer;
}

.off-canvas{
    clear: both;
    position: fixed;
    /*transform: translateY(-100%);*/
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    /*background: url("../img/translate-icon.png");*/
    background-color: #f5f5f5;
    padding: 20px;
    z-index: 99;
    transition: all .3s ease-in-out;

}

.off-canvas.open{
    /*transform: translateY(0);*/
    opacity: 1;
    visibility: visible;
}


.off-canvas  .menu-content > li{
    display: block;
    width: 250px;
    border-bottom: 2px solid #373a5e;
    transition: all .3s ease-in-out;
    position: relative;
}

.off-canvas  .menu-content > li {
    line-height: 80px;

}


.off-canvas .menu-content li .dropdown-c {
    position: absolute;
    display: none;
    width: 100vw;
    height: 1000px;
    background-color: red;
    left: 100%;
    top: 0;
    transform-origin: left;
    transition: all .4s ease-in-out;
    overflow: hidden;
    line-height: 40px;
    z-index: 999;
    overflow-y: scroll;

}

@media screen and (max-width: 600px) {
    .off-canvas .menu-content li .dropdown-c{
        left: 0;
    }

}

.off-canvas .menu-content li .dropdown-c ul {
    padding: 10px;
}

.off-canvas .menu-content li .dropdown-c li:not(:first-of-type) {
    height: 1.6em;
    line-height: 1.6em;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.off-canvas .menu-content li .dropdown-c li a {
    font-size: 13px;
}


.off-canvas .menu-content li  a{
    -webkit-animation: item-reveal 1s ease-in-out;
        animation: item-reveal 1s ease-in-out;
        font-size: 4vh;
        color: #565a5c;
}


.off-canvas .menu-content{
    height: 100%;
    padding: 0;
    width: calc(100% - 5%);
    margin: 0 auto;
}


.off-canvas .n-close li i{
    float: right;
    position: fixed;
    top: 20px;
    right: 35px;
    font-size: 35px;
}

.off-canvas .menu-content li a {
    text-decoration: none;
    padding: 0 10px;
    -webkit-animation: item-reveal 1s ease-in-out;
    animation: item-reveal 1s ease-in-out;


}




.off-canvas .menu-content li:hover .dropdown-c {
    display: block;
    background-color: #fafafa;

}

.off-canvas .menu-content li:hover .dropdown-c li a {
    background-color: #fff;
}


.off-canvas .menu-content li a:hover {
    background-color: #fafafa;
}


@keyframes item-reveal {
    from {
        top: 0px;
    }
    70% {
        top: 165px;
        animation-timing-function: ease-in;
    }
    to {
        top: 150px;
        animation-timing-function: ease-out;
    }
}


@-webkit-keyframes  item-reveal {
    from{
        opacity: 0;

    }

    to{
        opacity: 1;
    }




}

@keyframes  item-reveal {
    from{
        opacity: 0;

    }

    to{
        opacity: 1;
    }




}

.fill-1{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: fill-1 5s linear forwards;
}

@keyframes  fill-1 {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }

}

/* =====================================================================================================================
                                            Navigation Section
   =================================================================================================================== */

#hero-section{
    background: -webkit-linear-gradient(left ,#f2f2f2 50%,#ff694c 50%);
}


#hero-section .main-title{
    font-size: 9rem;
    text-align: center;
    color: #373a5e;
    text-transform: uppercase;
}


#hero-section .main-title span:nth-of-type(1):not(:last-of-type){
    font-weight: 800;
    display: block;
    color: #373a5e;
    padding-left: 13%;
}


#hero-section .main-title span:nth-of-type(1) span{
    font-weight: 100;
    color: #fff;
}



#hero-section .main-title span:nth-of-type(2){
    font-weight: 300;
    color: #ff694c;
    display: block;

}


#hero-section .main-title span:nth-of-type(2) span{
    font-weight: 100;
    color: #373a5e;
}


#hero-section .main-title span:nth-of-type(3){
    font-weight: 800;
    display: block;
    margin-left: 13.2%;
}



#hero-section .main-title span:nth-of-type(3) span{
    font-weight: 100;
    color: #fff;
}


@media screen and (max-width: 600px) {
    #hero-section .main-title{
        font-size: 7rem;
        text-align: left;
        color: #373a5e;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px;
        margin: 0;
    }

    #hero-section .main-title span{
        padding: 0!important;
        line-height: 75px;
        margin: 0!important;
    }



}


/* =====================================================================================================================
                                           What We Do Section
   =================================================================================================================== */

#what-we-do .sec-title{
    font-size: 9rem;
    text-align: left;
    color: #373a5e;
    text-transform: uppercase;
    font-weight: 800;
    line-height: .9em;

}


#what-we-do .sec-title span:nth-of-type(2){
    color: #ff694c;
    font-weight: 100;
    display: block;
    text-indent: 30px;
}

#what-we-do .sec-title span:nth-of-type(2) span{
    color: #c0c0c0;
    font-weight: 700;
}

#what-we-do .what-we-do{
    cursor: pointer;
    transition: all .4s ease-in-out;
}


#what-we-do .what-we-do:hover {
    fill: #ff694c;
    stroke: #fff;
}


/* =====================================================================================================================
                                          Who we are Section
 ===================================================================================================================*/


#who-we-are .sec-title{
    font-size: 9rem;
    text-align: right;
    color: #373a5e;
    text-transform: uppercase;
    font-weight: 900;
    line-height: .9em;

}


#who-we-are .sec-title span:nth-of-type(2){
    color: #ff694c;
    font-weight: 100;
    display: block;
}

#who-we-are .sec-title span:nth-of-type(2) span{
    color: #c0c0c0;
    font-weight: 700;
}


/* =====================================================================================================================
                                          Our Process Section
 ===================================================================================================================*/

#our-process .sec-title-1{
    font-size: 9rem;
    text-align: center;
    color: #373a5e;
    text-transform: uppercase;
    font-weight: 800;
    line-height: .9em;
}

#our-process .sec-title-1 > span{
    color: #ff694c;
    display: block;
    text-indent: 200px;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 40px;
}


@media screen and (max-width: 600px) {

    .sec-title-1 ,
    .sec-title
    {
        font-size: 7rem!important;
    }

    .sec-title-1 > span{
        text-indent: 0!important;
        line-height: 60px!important;
        font-size: 4.5rem!important;
    }

}


/* =====================================================================================================================
                                          Our Portfolio Section
 ===================================================================================================================*/
#portfolio {

}

#portfolio .sec-title-1{
    font-size: 9rem;
    text-align: center;
    color: #373a5e;
    text-transform: uppercase;
    font-weight: 800;
    line-height: .9em;
}

#portfolio .sec-title-1 > span{
    color: #ff694c;
    display: block;
    text-indent: 200px;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 40px;
}



@media screen  and (min-width: 768px) and (max-width: 1024px) {
    #portfolio {
        padding: 2%;
    }

}


@media screen  and (min-width: 1900px) and (max-width: 2500px) {
    #portfolio {
        padding: 5% 0 0 0;
    }

}


.img-gallery{
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    column-count: 3;
    column-gap: 0;
    background-color: #ffffff;

}


.img-gallery .main-container > img{
    width: 100%!important;
    height: auto!important;
}


.img-gallery .main-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
    overflow: hidden;
}


#portfolio .img-gallery .main-container a img {
    width: 100%!important;
    height: auto!important;
    z-index: -1;

}

#portfolio .img-gallery .main-container a img[title] {
    overflow: hidden;
}

.img-gallery .main-container > .overlay-txt:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.6em;
    color: #fff;
    text-align: center;
    transition: all .4s ease-in-out;
    height: 0;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform-origin: top;
}


.img-gallery .main-container > .overlay-txt:nth-of-type(2){
    top: 0;
    right: 0;
}


.img-gallery .main-container > .overlay-txt p {
    font-size: 12px;
}



.overlay-txt  > ul{
    padding: 0;
}


.overlay-txt > ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}



.overlay-txt >  ul > li  > img{
    width: 40px;
    height: 40px;

}



@media screen and (max-width: 600px) {
    #portfolio .owl-carousel .owl-item .item{
        display: -webkit-flex;
        display: -moz-flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        min-height: 530px;
        max-height: 100%;
        height: 100%;
        background-color: #ffffff;
    }
}




@media screen and (max-width: 1200px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 3;
        -webkit-column-gap: 0;
        -moz-column-count: 3;
        -moz-column-gap: 0;
        column-count: 3;
        column-gap: 0;
    }

}



@media screen and (max-width: 768px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 0;
        -moz-column-count: 2;
        -moz-column-gap: 0;
        column-count: 2;
        column-gap: 0;
    }

}


@media screen and (max-width: 400px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        column-count: 1;
        column-gap: 0;
    }

}


/*=============Mobile===============*/


.img-gallery-mobile{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

}


.img-gallery-mobile .main-container > img{
    width: 100%!important;
    height: auto!important;
}


.img-gallery-mobile .main-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.img-gallery-mobile .main-container > .overlay-txt:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    /*opacity: 0;*/
    line-height: 1.6em;
    color: #fff;
    text-align: center;
    transition: all .4s ease-in-out;
    height: 0;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform-origin: top;
}


.img-gallery-mobile .main-container > .overlay-txt:nth-of-type(2){
    top: 0;
    right: 0;
}


.img-gallery-mobile .main-container > .overlay-txt p {
    font-size: 12px;
}



.img-gallery-mobile .main-container:hover .overlay-txt:nth-of-type(1){
    height: 100%;
    background-color: #1f1f1f;
    padding: 20px;
}



.img-gallery-mobile .main-container .overlay-txt > div > ul{
    padding: 0;
}


.img-gallery-mobile .main-container .overlay-txt > div > ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}



.img-gallery-mobile .main-container .overlay-txt > div > ul > li > a > img{
    width: 40px;
    height: 40px;

}





/* =====================================================================================================================
                                          Contact Section
 ===================================================================================================================*/

#contact .contact-bg {
    background: url(../img/translate-icon.png);
    background-color: #ff694c;
    /*background-size: cover;*/
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
    animation: move 15s linear 1s infinite;
    animation-fill-mode: both;
    width: 100%;
}


@-webkit-keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: 0 -200px;
    }

}


@-moz-keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: -200px 0;
    }

}


@keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: -200px 0;
    }

}


#contact h2 span{
    color: #fff;
    cursor: pointer;
}


#contact .info-form{
    background-color: rgba(162, 68, 49, 0.71);
    padding: 60px 30px;
    max-width: 500px;
    min-width: 335px;
    margin: 20px auto;
    /*border-radius: 8px;*/
    color: #fff;
    /*transform: translateY(100%);*/
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
    transform-origin: bottom;
    border-radius: 50%;
}

#contact .info-form.shows{
    visibility: visible;
    opacity: 1;
    /*transform: translateY(0);*/
    transform: scale(1);
    transition: all .4s ease-in-out;
    border-radius: 8px;

}

#contact .info-form .form-group input{
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.66);
    padding: 20px;
}

#contact .info-form .form-group input[type="submit"]{
    width: 70%;
    max-width: 100%;
    border-radius: 30px;
    background-color: #fff;
    height: 50px;
    padding: 0;
    line-height: 50px;
    color: #ff694c;
    margin-top: 20px;
    border: 1px solid transparent;
    transition: all .3s ease;
}

#contact ::-webkit-input-placeholder{
    color: #fff;
}


/* =====================================================================================================================
                                          Footer Section
 ===================================================================================================================*/

#footer .footer-bg{
    height: 70vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
}


#footer .footer-bg .social-icons{
    padding: 0;
    margin-top: 40px;
}


#footer .footer-bg .social-icons li{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-right: 0;
    width: 80px;
    height: 60px;
}

#footer .footer-bg .social-icons li a{
    color: #999;
    font-size: 20px;
}

#footer .footer-bg p a {
    color: #999;
    font-weight: 300;
    text-decoration: none;
}

#footer .footer-bg .social-icons li a,
#footer .footer-bg  p > a  {
    position: relative;
    padding: 5px 10px;
}


#footer .footer-bg .social-icons li a:before,
#footer .footer-bg  p > a:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ff694c;
    bottom: 0;
    left: auto;
    right: 0;
    transition: all .4s ease-in-out;
}

#footer .footer-bg .social-icons li a:hover:before,
#footer .footer-bg  p > a:hover:before
{
    width: 100%;
    right: auto;
    left: 0;

}



/* =====================================================================================================================


 Single Service Display Starts Here


 ===================================================================================================================*/




/* =====================================================================================================================
                                        Single Service (Django)
 ===================================================================================================================*/


#services * .container{
    padding: 0 10%;
}

#services .main-title span:nth-of-type(2){
    margin-left: 23.5%;
}

#services .main-title span:nth-of-type(3){
    margin-left: -15%;

}

.service-title{
    color: #ff694c;
    text-align: center;
    margin: 20px 0;
    text-transform: capitalize;
}


#services > #service-des .container .main-tab-container{
    margin-top: 10%;

}

#service-des .container .tab-navigation .line-through {
    margin-top: 15%;
}

#service-des .container .tab-navigation .line-through{
    height: 15px;
    border-bottom: 1px solid #999;
    padding-left: 15%;
}

#service-des .container .tab-navigation .line-through span{
    padding: 0 15px;
    background-color: #fff;
}

#service-des .container .tab-navigation .line-through span p{
    display: inline;
}

#service-des .container .tab-navigation .line-through span ul.nav-tabs {
    margin-top: -27px;
    border: none;
    background-color: #fff;
}

.nav-tabs>li>a{
    font-size: 14px;
}



.container .form-container {
    width: 350px;
    max-width: 100%;
    max-height: 100%;
    background-color: #ff694c;
    padding: 20px;
    text-align: center;
    margin: 0 0 30px 30px;
    color: #fff;
    float: right;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.container .form-container h3 {
    margin: 30px 30px 60px 5px;
    text-align: left;
}


.container .form-container button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: #f5f5f5;
    color: #565a5c;
    border: none;
    margin-top: 40px;
}


/*=========Floating labels=============*/


.f-input-group{
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.float-input{
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
}


.float-input:focus{
    outline: none;
}


.float-label{
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;


}


.label-top{
    visibility: visible;
    opacity: 1;
    top: -20px;
}



.f-input-group > input#Message {
    height: 100px;

}


::-webkit-input-placeholder{
    color: #fff;
}

::-moz-input-placeholder{
    color: #fff;
}

/*==============Floating labels ends here========*/


/* ==========================================================================
   Services Features
   ========================================================================== */

#service-feature .container .feature-1:not(:first-of-type), .feature-2, .feature-3 {
    margin: 10% 0;
}

#service-feature .container   h3{
    margin: 20px 0;
    font-weight: 700;
    color: #373a5e;
}



/* ==========================================================================
   Services Features
   ========================================================================== */

#service-portfolio .port-effect{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: .5s ease-in-out;
    padding: 0;

}

#service-portfolio .port-effect img {
    transition: .5s ease-in-out;
    transform: scale(1);

}

#service-portfolio .port-effect .port-overlay{
    position: absolute;
    left: 0;
    /*top: 0;*/
    background-color: #ff694c;
    transition: .5s ease-in-out;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;7
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    /*height: 100%;*/
    transform-origin: right;
    backface-visibility: hidden;
    box-sizing: border-box;
    right: auto;
    /*opacity: 0;*/
    height: 100%;
    padding: 10px;
    bottom: -100%;
}


#service-portfolio .port-effect:hover .port-overlay  {
    /*height: 100%;*/
    /*opacity: 1;*/
    bottom: 0;
}

#service-portfolio .port-effect:hover img  {
    transform: scale(1.3);
}






/* =====================================================================================================================


 Thank you page Starts Here


 ===================================================================================================================*/

#thankyou section#hero-section{
    height: 60vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}


#thankyou .main-title{
    font-size: 9rem;
    text-align: center;
    color: #373a5e;
    text-transform: uppercase;
}


#thankyou .main-title span:nth-of-type(1):not(:last-of-type){
    font-weight: 800;
    display: block;
    color: #373a5e;
    margin-left: -7%;
}


#thankyou .main-title span:nth-of-type(1) span{
    font-weight: 300;
    color: #fff;
}



#thankyou .main-title span:nth-of-type(2){
    font-weight: 800;
    color: #373a5e;
    display: block;
    margin-left: -5%;

}


#thankyou .main-title span:nth-of-type(2) span{
    font-weight: 800;
    color: #373a5e;
}


#thankyou .main-title span:nth-of-type(3){
    font-weight: 800;
    display: block;
    margin-left: -13.8%;
}



#thankyou .main-title span:nth-of-type(3) span{
    font-weight: 100;
    color: #fff;
}


@media screen and (max-width: 600px) {
    #thankyou .main-title{
        font-size: 7rem;
        text-align: left;
        color: #373a5e;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px;
        margin: 0;
    }

    #thankyou .main-title span{
        padding: 0!important;
        line-height: 75px;
        margin: 0!important;
    }



}




/* =====================================================================================================================


Contact us page Starts Here


 ===================================================================================================================*/

#contact-us section#hero-section{
    height: 60vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}


#contact-us .main-title{
    font-size: 9rem;
    text-align: center;
    color: #373a5e;
    text-transform: uppercase;
}


#contact-us .main-title span:nth-of-type(1):not(:last-of-type){
    font-weight: 800;
    display: block;
    color: #373a5e;
    margin-left: -9%;
}


#contact-us .main-title span:nth-of-type(1) span{
    color: #373a5e;
    font-weight: 800;

}



#contact-us .main-title span:nth-of-type(2){
    font-weight: 300;
    color: #373a5e;
    display: block;
    padding-left: 8%;

}


#contact-us .main-title span:nth-of-type(2) span{
    font-weight: 300;
    color: #373a5e;
}


#contact-us .main-title span:nth-of-type(3){
    font-weight: 300;
    display: block;
    margin-left: 6.2%;
    color: #ff694c;
}



#contact-us .main-title span:nth-of-type(3) span{
    font-weight: 300;
    color: #fff;
}


@media screen and (max-width: 600px) {
    #contact-us .main-title{
        font-size: 7rem;
        text-align: left;
        color: #373a5e;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px;
        margin: 0;
    }

    #contact-us .main-title span{
        padding: 0!important;
        line-height: 75px;
        margin: 0!important;
    }



}


#map .container {
    padding: 10%;
}






/* =====================================================================================================================


Portfolio page Starts Here


 ===================================================================================================================*/

#portfolio{

}

#portfolio-txt{
    padding: 10% 0;
}



#portfolio-display .container {
    padding: 0 10%;
}

#portfolio-display{
    background: -webkit-linear-gradient(top ,#ff694c 50% ,#f2f2f2 50%);
    height: 100%;
    color: #fff;
}


#portfolio-display p{
    font-size: 14px;
    margin: 20px 0;
}


#portfolio-display .portfolio-display-card{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), inset 1px 1px 0 0 hsla(0,0%,100%,.2);
    padding: 25px;
    text-align: center;
    height: 100%;
    max-height: 100%;

}

#portfolio-display .portfolio-display-card ul {
    padding: 0;
}

#portfolio-display .portfolio-display-card ul li {
    width: 250px;
    max-width: 100%;
    height: 250px;
    list-style: none;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.30), 0 1px 8px rgba(0,0,0,0.22);
}

#portfolio-display .port-container {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.port-txt{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 105, 76, 0.68);
    text-align: center;
    color: #fff;
    transition: all .4s ease-in-out;
}

.port-txt p{
    font-size: 14px;
}

.port-txt button{
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    background: #f2f2f2;
    border: 1px solid #eee;
    font-size: 14px;
    color: #565a5c;

}

#portfolio-display .portfolio-display-card ul li .port-container:hover .port-txt {
    opacity: 1;
    transform-origin: center;
}
