

/*

Brand Color - #ff694c

*/



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'Raleway', sans-serif;
    color: #565a5c;
    line-height: 1.6em;
    overflow-x: hidden;
    font-size: 16px;
}

.brand-c{
    color: #ff694c;
}

/* =====================================================================================================================
                                            Navigation Section
   =================================================================================================================== */


.custom-navbar{
    margin: 0;
    height: 80px;
    z-index: 1;
    border: 0;
    box-shadow: none;
    background: transparent;
}

.custom-navbar .navbar-right li a{
    display: block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    color: #565a5c;
    background-color: #fff;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    border-radius: 20px;

}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    background-color: #fff;
}
/* =====================================================================================================================
                                            Navigation Section
   =================================================================================================================== */

#hero-section{
    background: -webkit-linear-gradient(left ,#f2f2f2 50%,#ff694c 50%);
    height: 100vh;
}


#hero-section .main-title{
    font-size: 6rem;
    text-align: center;
    color: #373a5e;
    text-transform: uppercase;
    padding-top: 10%;
}


#hero-section .main-title span:nth-of-type(1):not(:last-of-type){
    font-weight: 800;
    display: block;
    color: #373a5e;
    margin-left: -1.2%;
}


#hero-section .main-title span:nth-of-type(1) span{
    font-weight: 100;
    color: #fff;
}



#hero-section .main-title span:nth-of-type(2){
    font-weight: 800;
    color: #373a5e;
    display: block;
    margin-left: -5.2%;

}


#hero-section .main-title span:nth-of-type(2) span{
    font-weight: 100;
    color: #373a5e;
}


#hero-section .main-title span:nth-of-type(3){
    font-weight: 100;
    display: block;
    margin-left: 8%;
    font-size: 2.5rem;
    margin-top: 20px;
}



#hero-section .main-title span:nth-of-type(3) span{
    font-weight: 100;
    color: #fff;
}

@media screen and (max-width: 600px) {
    #hero-section .main-title{
        font-size: 7rem;
        text-align: left;
        color: #373a5e;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px;
        margin: 0;
    }

    #hero-section .main-title span{
        padding: 0!important;
        line-height: 75px;
    }



}



#hero-section .form-container{
    margin-top: 40px;
}

#hero-section .form-container h4 {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: .3px;
}

#hero-section .form-container h4:first-of-type{
    color: #373a5e;

}

#hero-section .form-container h4:last-of-type{
    color: #ff694c;
}


#hero-section .form-container .form-group input{
    height: 40px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}



#hero-section .form-container .form-group:nth-of-type(1) input{
    width: 100%;
}

#hero-section .form-container .form-group:nth-of-type(2) input{
    width: 90%;
}

#hero-section .form-container .form-group:nth-of-type(3) input{
    width: 80%;
}

#hero-section .form-container .form-group:nth-of-type(4) button{
    width: 70%;
    border-radius: 20px;
    border: none;
    background-color: #ff694c;
    height: 40px;
    line-height: 40px;
    color: #fff;
}



#hero-section .form-container .form-group input:focus{
    outline: none;
}

/* =====================================================================================================================
                                           Pricing table
   =================================================================================================================== */
#pricing-table .container{
    padding: 0 10%;
}

#pricing-table{
    padding: 4% 4%;
}

#pricing-table .sec-title{
    color: #373a5e;
}


#pricing-table ul {
    padding: 0;
    text-align: center;
}

#pricing-table ul li {
    display: inline-block;
    list-style: none;
}

#pricing-table ul li .pricing-box {
    width: 260px;
    max-width: 100%;
    margin: 10px 5px auto;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 1px 4px 1px #eee;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 20px 0;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

#pricing-table ul li .pricing-box figure h3{
    font-size: 18px;
}


#pricing-table ul li .pricing-box figure h2 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    background-color: #373a5e;
    color: #fff;
}



#pricing-table ul li:nth-of-type(2) .pricing-box figure h2{
    background-color: #fff;
    color: #373a5e;
}


#pricing-table ul li:nth-of-type(3) .pricing-box figure h2{
    background-color: #373a5e;
    color: #fff;

}



#pricing-table ul li .pricing-box figure h2 i{
    font-size: 20px;

}

#pricing-table ul li:nth-of-type(2) .pricing-box {
    padding: 40px 0 70px;
}


#pricing-table ul li .pricing-box.active {
    background-color: #ff694c;
    color: #fff;
}



#pricing-table ul li .pricing-box button.active {
    background-color: #fff;
    color: #ff694c;
}



#pricing-table ul li .pricing-box figcaption>p {
    margin: 0;
    line-height: 35px;
    font-size: 14px;
}

#pricing-table ul li .pricing-box button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 30px;
    font-size: 14px;
    background-color: #ff694c;
    color: #fff;
}

#pricing-table ul li .pricing-box button:focus {
    outline: none;
}


#detailed-services .container{
    padding: 10%;
}

#detailed-services .container .row:not(:first-of-type){
    margin: 15% 0;
}

#detailed-services .container h3 {
    margin: 20px 0;
    color: #373a5e;
}

#detailed-services .container p {
    color: #797979;
    font-size: 15px;
    word-spacing: 4px;
    line-height: 1.8em;
}



.d-service-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 7px rgba(0,0,0,0.30), 0 4px 5px rgba(0,0,0,0.22);

}

.d-service-icon img{
    width: 60px;
    height: auto;
}

.d-service-icon:nth-of-type(2) {
    display: inline-block;
    margin-right: 40px;
}

.d-service-icon:nth-of-type(3) {
    display: inline-block;
}

.d-service-icon:nth-of-type(1):before{
    content: '';
    position: absolute;
    height: 100%;
    top: 80px;
    z-index: -1;
    left: 0;
    transform: rotate(25deg);
    border: 2px dashed #999;
}

.d-service-icon:nth-of-type(1):after{
    content: '';
    position: absolute;
    height: 100%;
    top: 80px;
    z-index: -1;
    right: 0;
    transform: rotate(-25deg);
    border: 2px dashed #999;
}




/* =====================================================================================================================
                                          Who we are Section
 ===================================================================================================================*/


#who-we-are .sec-title{
    font-size: 9rem;
    text-align: right;
    color: #373a5e;
    text-transform: uppercase;
    font-weight: 900;
    line-height: .9em;

}


#who-we-are .sec-title span:nth-of-type(2){
    color: #ff694c;
    font-weight: 100;
    display: block;
}

#who-we-are .sec-title span:nth-of-type(2) span{
    color: #c0c0c0;
    font-weight: 700;
}


/* =====================================================================================================================
                                          Clients Section
 ===================================================================================================================*/
#clients .container{
    padding: 10%;
}


#clients .owl-carousel{
    margin-top: 60px;
}

#clients .owl-carousel .item img{
    width: 150px;
    margin: 0 auto;
}

#clients .owl-theme .owl-controls .owl-page {
    display: inline-block;
}

#clients .owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}



#clients .sec-title-1{
    font-size: 6rem;
    text-align: center;
    color: #ff694c;
    text-transform: uppercase;
    font-weight: 800;
    line-height: .9em;
}

#clients .sec-title-1 > span{
    color: #373a5e;
    display: block;
    text-indent: 200px;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 40px;
}


@media screen and (max-width: 600px) {

    .sec-title-1 ,
    .sec-title
    {
        font-size: 7rem!important;
    }

    .sec-title-1 > span{
        text-indent: 0!important;
        line-height: 60px!important;
        font-size: 4.5rem!important;
    }

}



#clients .container-fluid {
    background-color: #f2f1f1;

}


#clients .container-fluid .features-heading{
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background-color: #f1f1f1;
}

#clients .container-fluid .features-heading {
    padding: 30px 0 0;
}

#clients .container-fluid .features-heading h3{
    font-weight: 300;
    margin: 20px 0;
}

#clients .container-fluid .features-heading p{
    margin: 30px 0;
}


#clients .container-fluid .sub-features{
    background-color: #f6f6f8;
    margin: 0px -15px;
    padding: 25px;
    color: #565a5c;

}

#clients .container-fluid .sub-features p{
    margin: 40px 0;
}






/* =====================================================================================================================
                                          Our Portfolio Section
 ===================================================================================================================*/

#portfolio .sec-title-1{
    font-size: 9rem;
    text-align: center;
    color: #373a5e;
    text-transform: uppercase;
    font-weight: 700;
    line-height: .9em;
}

#portfolio .sec-title-1 > span{
    color: #ff694c;
    display: block;
    text-indent: 200px;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 40px;
}


.img-gallery{
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
        column-count: 3;
        column-gap: 0;

}


.img-gallery .main-container > img{
    width: 100%!important;
    height: auto!important;
}


.img-gallery .main-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.img-gallery .main-container > .overlay-txt:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.6em;
    color: #fff;
    text-align: center;
    transition: all .4s ease-in-out;
    height: 0;
    display: -webkit-flex;
    display: -moz-flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform-origin: top;
}


.img-gallery .main-container > .overlay-txt:nth-of-type(2){
    top: 0;
    right: 0;
}


.img-gallery .main-container > .overlay-txt p {
    font-size: 12px;
}



.img-gallery .main-container:hover .overlay-txt:nth-of-type(1){
    height: 100%;
    background-color: #ff694c;
    padding: 20px;
}



.img-gallery .main-container .overlay-txt > div > ul{
    padding: 0;
}


.img-gallery .main-container .overlay-txt > div > ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}



.img-gallery .main-container .overlay-txt > div > ul > li > a > img{
    width: 40px;
    height: 40px;

}








@media screen and (max-width: 1200px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 3;
        -webkit-column-gap: 0;
        -moz-column-count: 3;
        -moz-column-gap: 0;
        column-count: 3;
        column-gap: 0;
    }

}



@media screen and (max-width: 768px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 0;
        -moz-column-count: 2;
        -moz-column-gap: 0;
        column-count: 2;
        column-gap: 0;
    }

}


@media screen and (max-width: 400px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        column-count: 1;
        column-gap: 0;
    }

}


/*=============Mobile===============*/


.img-gallery-mobile{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

}


.img-gallery-mobile .main-container > img{
    width: 100%!important;
    height: auto!important;
}


.img-gallery-mobile .main-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.img-gallery-mobile .main-container > .overlay-txt:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    /*opacity: 0;*/
    line-height: 1.6em;
    color: #fff;
    text-align: center;
    transition: all .4s ease-in-out;
    height: 0;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform-origin: top;
}


.img-gallery-mobile .main-container > .overlay-txt:nth-of-type(2){
    top: 0;
    right: 0;
}


.img-gallery-mobile .main-container > .overlay-txt p {
    font-size: 12px;
}



.img-gallery-mobile .main-container:hover .overlay-txt:nth-of-type(1){
    height: 100%;
    background-color: #ff694c;
    padding: 20px;
}



.img-gallery-mobile .main-container .overlay-txt > div > ul{
    padding: 0;
}


.img-gallery-mobile .main-container .overlay-txt > div > ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}



.img-gallery-mobile .main-container .overlay-txt > div > ul > li > a > img{
    width: 40px;
    height: 40px;

}




/* =====================================================================================================================
                                          Contact Section
 ===================================================================================================================*/

#contact .contact-bg {
    background: url(../img/translate-icon.png);
    background-color: #ff694c;
    /*background-size: cover;*/
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
    animation: move 15s linear 1s infinite;
    animation-fill-mode: both;
}


@-webkit-keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: 0 -200px;
    }

}


@-moz-keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: -200px 0;
    }

}


@keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: -200px 0;
    }

}




/* =====================================================================================================================
                                          Footer Section
 ===================================================================================================================*/


#footer .footer-bg {
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
}

#footer .footer-bg .social-icons{
    padding: 0;
}


#footer .footer-bg .social-icons li{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}

#footer .footer-bg .social-icons li a{
    color: #999;
    font-size: 20px;
}

#footer .footer-bg p {
    margin-top: 30px;
}


#footer .footer-bg p a {
    color: #999;
}
