

/*

Brand Color - #ff694c
Secondary color - #373a5e

*/



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
    overflow-x: hidden;
    font-size: 62.5%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #565a5c;
    line-height: 1.6em;
    font-size: 1.4rem;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeSpeed;
}

.brand-c{
    color: #ff694c;
}

/* =====================================================================================================================
                                            Navigation Section
   =================================================================================================================== */


.nav-up {
    top: -100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23),inset 1px 1px 0 0 hsla(0,0%,100%,.2);
    background-color: #fff;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: all .4s ease-in-out;
    height: 80px;
}


.custom-nav{
    margin: 0;
    height: 80px;
    z-index: 1;
    border: 0;
    position: fixed;
    top: 0;
    transition: all .4s ease-in-out;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23),inset 1px 1px 0 0 hsla(0,0%,100%,.2);
    box-sizing: border-box;
    overflow-x: hidden;

}

/*.navbar-default{*/
    /*background-color: transparent;*/
/*}*/

.activet{
    opacity: 0;
    box-shadow: none;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: all .4s ease-in-out;
    height: 80px;
    line-height: 80px;
}



.custom-nav .navbar-right li a,
.custom-nav .navbar-left li a,
.phone{

    display: block;
    width: 170px;
    height: 40px;
    line-height: 40px!important;
    color: #565a5c;
    background-color: #fff;
    text-align: center;
    padding: 0!important;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #ff694c;
    box-sizing: border-box;
    overflow-x: hidden;

}

@media screen and (max-width: 600px) {
    .custom-nav .navbar-brand img{
        width: 150px;
        margin-top: 10px;
    }

    .custom-nav .navbar-left li a,
    .phone {

        margin-top: -35px;
        margin-right: 10px;

    }

    .nav-up{
        top: -110px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.23),inset 1px 1px 0 0 hsla(0,0%,100%,.2);
        background-color: #fff;
    }


}



.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    background-color: #fff;
}
/* =====================================================================================================================
                                            Navigation Section
   =================================================================================================================== */

#hero-section{
    background: -webkit-linear-gradient(left ,#f2f2f2 50%,#ff694c 50%);
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}



#hero-section .main-title{
    font-size: 6rem;
    text-align: center;
    color: #373a5e;
    text-transform: uppercase;
    padding-top: 5%;
}


#hero-section .main-title span:nth-of-type(1):not(:last-of-type){
    font-weight: 800;
    display: block;
    color: #373a5e;
    margin-left: -1.2%;
}


#hero-section .main-title span:nth-of-type(1) span{
    font-weight: 100;
    color: #fff;
}



#hero-section .main-title span:nth-of-type(2){
    font-weight: 800;
    color: #ff694c;
    display: block;
    margin-left: -5.2%;

}


#hero-section .main-title span:nth-of-type(2) span{
    font-weight: 100;
    color: #373a5e;
}


#hero-section .main-title span:nth-of-type(3){
    font-weight: 300;
    display: block;
    margin-left: 8%;
    font-size: 2.5rem;
    margin-top: 20px;
}



#hero-section .main-title span:nth-of-type(3) span{
    font-weight: 300;
    color: #fff;
}

@media screen and (max-width: 600px) {
    #hero-section .main-title{
        font-size: 3rem;
        text-align: left;
        color: #373a5e;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px;
        margin-top: 25%;
    }

    #hero-section .main-title span{
        padding: 0!important;
        line-height: 40px;
    }

    #hero-section .main-title span:nth-of-type(3),
    #hero-section .main-title span:nth-of-type(2)
    {
        margin: 0;
    }



}



#hero-section .form-container{
    margin-top: 40px;
}

#hero-section .form-container h4 {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .3px;
}

#hero-section .form-container h4{
    color: #373a5e;

}



#hero-section .form-container .form-group input{
    height: 40px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}



#hero-section .form-container .form-group:nth-of-type(1) input{
    width: 90%;
}

#hero-section .form-container .form-group:nth-of-type(2) input{
    width: 80%;
}

#hero-section .form-container .form-group:nth-of-type(3) input{
    width: 70%;
}

#hero-section .form-container .form-group:nth-of-type(4) input{
    width: 60%;
    border-radius: 20px;
    background-color: #ff694c;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 1.6rem;
    padding: 0;
    transition: all .3s ease;
    border: 1px solid transparent;
}

#hero-section .form-container .form-group:nth-of-type(4) input:hover{
    background-color: #fff;
    border: 1px solid #ff694c;
    color: #ff694c;
}




#hero-section .form-container .form-group input:focus{
    outline: none;
}


/* =====================================================================================================================
                                           Services
   =================================================================================================================== */

#services .container {
    padding: 10% 8% 10% 10%;
}

@media screen  and (max-width: 600px) {
    #services .container {
        padding: 5%;
    }
}


@media screen  and (min-width: 768px) and (max-width: 1024px) {
    #services .container {
        padding: 2%;
    }

}

@media screen  and (min-width: 1900px) and (max-width: 2500px) {

    #services .container{
        padding: 5% 0;
    }
}




#services .service-container{
    padding: 0;
    text-align: center;
    margin-top: 40px;
}

#services .service-container li {
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: -2px;
}

#services .service-container li:nth-of-type(3){
    border-right: 1px solid transparent;
}

#services .service-container li:nth-of-type(4){
    border-bottom: 1px solid transparent;
}

#services .service-container li:nth-of-type(5){
    border-bottom: 1px solid transparent;

}

#services .service-container li:nth-of-type(6){
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}



#services .service{
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    height: 210px;
}


#services .service figure > img {
    width: 50px;

}


#services .service figure figcaption{
    margin-top: 20px;
}


#services .service figure figcaption svg {
    margin-bottom: -5px;
}

#services .service figure figcaption > span {
    color: #4cae4c;
}


#services .service:hover {
    /* box-shadow: 0px 0px 22px #eee, inset 0px 1px 2px 5px #eee; */
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), inset 1px 1px 0 0 hsla(0,0%,100%,.2); */
    box-shadow: 0 19px 43px rgba(0,0,0,0.30), 0 0px 14px rgba(0,0,0,0.22);
    overflow: hidden;
}



/* =====================================================================================================================
                                           Pricing table
   =================================================================================================================== */
#pricing-table .container{
    padding: 0 10%;
}


@media screen  and (max-width: 600px) {
    #pricing-table .container{
        padding: 5%;
    }

}


@media screen  and (min-width: 768px) and (max-width: 1024px) {
    #pricing-table .container {
        padding: 2%;
    }

}


@media screen  and (min-width: 1900px) and (max-width: 2500px) {

    #pricing-table .container{
        padding: 5% 0;
    }
}


#pricing-table{
    padding: 4% 4%;
}

#pricing-table .sec-title{
    color: #373a5e;
}


#pricing-table ul {
    padding: 0;
    text-align: center;
}

#pricing-table ul li {
    display: inline-block;
    list-style: none;
}

#pricing-table ul li .pricing-box {
    max-width: 260px;
    width: 100%;
    margin: 10px 5px auto;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 1px 4px 1px #eee;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

#pricing-table ul li .pricing-box figure h3{
    font-size: 18px;
}


#pricing-table ul li .pricing-box figure h2 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    background-color: #373a5e;
    color: #fff;
}



#pricing-table ul li:nth-of-type(2) .pricing-box figure h2{
    background-color: #fff;
    color: #373a5e;
}


#pricing-table ul li:nth-of-type(3) .pricing-box figure h2{
    background-color: #373a5e;
    color: #fff;

}



#pricing-table ul li .pricing-box figure h2 i{
    font-size: 20px;

}



#pricing-table ul li .pricing-box.active {
    background-color: #ff694c;
    color: #fff;
    padding: 60px 20px 100px;
}



#pricing-table ul li .pricing-box button.active {
    background-color: #fff;
    color: #ff694c;
}


#pricing-table ul li .pricing-box:hover {
    transform: scale(1.02);
}




#pricing-table ul li .pricing-box figcaption>p {
    margin: 0;
    line-height: 28px;
    font-size: 14px;
}

#pricing-table ul li .pricing-box button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 30px;
    font-size: 14px;
    background-color: #ff694c;
    color: #fff;
}

#pricing-table ul li .pricing-box button:focus {
    outline: none;
}

#pricing-table ul li .pricing-box:focus {
    outline: none;
}



/*======Detailed Services====*/

#detailed-services .container{
    padding: 10% 10% 0 10%;
}

@media screen  and (max-width: 600px) {
    #detailed-services .container{
        padding: 5%;
    }
}


@media screen  and (min-width: 768px) and (max-width: 1024px) {
    #detailed-services .container {
        padding: 2%;
    }

}



@media screen  and (min-width: 1900px) and (max-width: 2500px) {

    #detailed-services .container{
        padding: 5% 0;
    }
}



#detailed-services .container .row:not(:first-of-type){
    margin: 15% 0 5%;
}

#detailed-services .container h3 {
    margin: 20px 0;
    color: #373a5e;
    font-weight: 700;
}


#detailed-services .container p {
    color: #797979;
    font-size: 15px;
    word-spacing: 4px;
    line-height: 2.7rem;
}



.d-service-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 7px rgba(0,0,0,0.30), 0 4px 5px rgba(0,0,0,0.22);

}

.d-service-icon img{
    width: 60px;
    height: auto;
}

.d-service-icon:nth-of-type(2) {
    display: inline-block;
    margin-right: 50px;
}

.d-service-icon:nth-of-type(3) {
    display: inline-block;
}

.d-service-icon:nth-of-type(1):before{
    content: '';
    position: absolute;
    height: 100%;
    top: 80px;
    z-index: -1;
    left: 0;
    transform: rotate(33deg);
    border: 2px dashed #999;
}

.d-service-icon:nth-of-type(1):after{
    content: '';
    position: absolute;
    height: 100%;
    top: 80px;
    z-index: -1;
    right: 0;
    transform: rotate(-33deg);
    border: 2px dashed #999;
}




/* =====================================================================================================================
                                          Our Services Section
 ===================================================================================================================*/

#our-features .container{
    padding: 10% 8% 0 10%;
}


@media screen  and (max-width: 600px) {
    #our-features .container{
        padding: 5%;
    }

}


@media screen  and (min-width: 768px) and (max-width: 1024px) {
    #our-features .container {
        padding: 2%;
    }

}



@media screen  and (min-width: 1900px) and (max-width: 2500px) {

    #our-features .container{
        padding: 5% 0;
    }
}



#our-features ul{
    padding: 0;
    text-align: center;
}

#our-features ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10%;
}

#our-features ul li:nth-of-type(1){
    margin-top: 15%;

}


#our-features .feature-icon{
    margin-top: -70px;
}


#our-features .feature-container{
    width: 280px;
    max-width: 100%;
    height: 300px;
    border: 1px solid #eee;
    position: relative;
    text-align: center;

}

#our-features .feature-container .features-txt{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50% ,-50%);
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
}

#our-features .feature-container .features-txt h4{
    font-weight: 700;
    font-size: 20px;
    color: #ff6a4d;
}

/* =====================================================================================================================
                                          Clients Section
 ===================================================================================================================*/
#clients .container{
    padding: 0 8% 10% 10%;
}


@media screen  and (max-width: 600px) {
    #clients .container{
        padding: 5%;
    }

}


#clients .owl-carousel{
    margin-top: 60px;
}

#clients .owl-carousel .item img{
    width: 150px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    #clients .owl-carousel .item img{
        width: 300px;

    }
}

#clients .owl-theme .owl-controls .owl-page {
    display: inline-block;
}

#clients .owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}



 .sec-title-1{
    font-size: 5rem;
    text-align: center;
    color: #ff694c;
    text-transform: uppercase;
    font-weight: 800;
    line-height: .9em;
}

.sec-title-1 > span{
    color: #373a5e;
    display: block;
    text-indent: 200px;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 40px;
}


@media screen and (max-width: 600px) {

    .sec-title-1 ,
    .sec-title
    {
        font-size: 6rem!important;
    }

    .sec-title-1 > span{
        text-indent: 0!important;
        line-height: 50px!important;
        font-size: 3.5rem!important;
    }

}



#clients .container-fluid {
    background-color: #f2f1f1;

}


#clients .container-fluid .features-heading{
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background-color: #f1f1f1;
}



#clients .container-fluid .features-heading > div {
    padding: 20px;
}



#clients .container-fluid .features-heading h3{
    font-weight: 300;
}


#clients .container-fluid .features-heading p{
    margin: 20px 0;
    font-size: 14px;
}


#clients .container-fluid .sub-features{
    background-color: #f6f6f8;
    margin: 0px -15px;
    padding: 25px;
    color: #565a5c;
    height: 220px;
    overflow: hidden;
}


@media screen and (max-width: 600px) {
    #clients .container-fluid .sub-features{
        height: 400px;
    }

    #clients .carousel-inner>.item .row .col-md-2{
        text-align: center!important;
    }
}




#clients .container-fluid .sub-features .carousel-indicators{
    right: 0;
    left: 95%;
    top: 85%;
}

#clients .container-fluid .sub-features .carousel-indicators li{
    border: 1px solid #ff694c;
}

#clients .container-fluid .sub-features p{
    margin: 10px 0;
}



/*#clients .testi-comment{*/
    /*background: url("../img/clients/quotes.svg");*/
/*}*/


/* =====================================================================================================================
                                          Our Portfolio Section
 ===================================================================================================================*/
#portfolio {
    padding: 10% 0 0% 0;
}


@media screen  and (min-width: 768px) and (max-width: 1024px) {
    #portfolio {
        padding: 2%;
    }

}


@media screen  and (min-width: 1900px) and (max-width: 2500px) {
    #portfolio {
        padding: 5% 0 0 0;
    }

}


.img-gallery{
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
        column-count: 3;
        column-gap: 0;
    background-color: #ffffff;

}


.img-gallery .main-container > img{
    width: 100%!important;
    height: auto!important;
}


.img-gallery .main-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
    overflow: hidden;
}


#portfolio .img-gallery .main-container a img {
    width: 100%!important;
    height: auto!important;
    z-index: -1;

}

#portfolio .img-gallery .main-container a img[title] {
    overflow: hidden;
}

.img-gallery .main-container > .overlay-txt:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.6em;
    color: #fff;
    text-align: center;
    transition: all .4s ease-in-out;
    height: 0;
    display: -webkit-flex;
    display: -moz-flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform-origin: top;
}


.img-gallery .main-container > .overlay-txt:nth-of-type(2){
    top: 0;
    right: 0;
}


.img-gallery .main-container > .overlay-txt p {
    font-size: 12px;
}



/*.img-gallery .main-container:hover .overlay-txt:nth-of-type(1){*/
    /*height: 100%;*/
    /*background-color: #ff694c;*/
    /*padding: 20px;*/
/*}*/



.overlay-txt  > ul{
    padding: 0;
}


 .overlay-txt > ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}



 .overlay-txt >  ul > li  > img{
    width: 40px;
    height: 40px;

}



@media screen and (max-width: 600px) {
    #portfolio .owl-carousel .owl-item .item{
        display: -webkit-flex;
        display: -moz-flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        min-height: 530px;
        max-height: 100%;
        height: 100%;
        background-color: #ffffff;
    }
}




@media screen and (max-width: 1200px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 3;
        -webkit-column-gap: 0;
        -moz-column-count: 3;
        -moz-column-gap: 0;
        column-count: 3;
        column-gap: 0;
    }

}



@media screen and (max-width: 768px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 0;
        -moz-column-count: 2;
        -moz-column-gap: 0;
        column-count: 2;
        column-gap: 0;
    }

}


@media screen and (max-width: 400px){
    .img-gallery{
        line-height: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        column-count: 1;
        column-gap: 0;
    }

}


/*=============Mobile===============*/


.img-gallery-mobile{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

}


.img-gallery-mobile .main-container > img{
    width: 100%!important;
    height: auto!important;
}


.img-gallery-mobile .main-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.img-gallery-mobile .main-container > .overlay-txt:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    /*opacity: 0;*/
    line-height: 1.6em;
    color: #fff;
    text-align: center;
    transition: all .4s ease-in-out;
    height: 0;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    backface-visibility: hidden;
    transform-origin: top;
}


.img-gallery-mobile .main-container > .overlay-txt:nth-of-type(2){
    top: 0;
    right: 0;
}


.img-gallery-mobile .main-container > .overlay-txt p {
    font-size: 12px;
}



.img-gallery-mobile .main-container:hover .overlay-txt:nth-of-type(1){
    height: 100%;
    background-color: #1f1f1f;
    padding: 20px;
}



.img-gallery-mobile .main-container .overlay-txt > div > ul{
    padding: 0;
}


.img-gallery-mobile .main-container .overlay-txt > div > ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}



.img-gallery-mobile .main-container .overlay-txt > div > ul > li > a > img{
    width: 40px;
    height: 40px;

}




/* =====================================================================================================================
                                          Contact Section
 ===================================================================================================================*/

#contact .contact-bg {
    background: url(../img/translate-icon.png);
    background-color: #ff694c;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    text-align: center;
    animation: move 15s linear 1s infinite;
    animation-fill-mode: both;
    padding: 10%;
}


@-webkit-keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: 0 -200px;
    }

}


@-moz-keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: -200px 0;
    }

}


@keyframes move  {
    from {
        background-position: 0 0;

    }

    to{
        background-position: -200px 0;
    }

}


#contact .contact-bg .form-container {
    background-color: rgba(162, 68, 49, 0.71);
    padding: 60px 30px;
    max-width: 500px;
    min-width: 335px;
    margin: 20px auto;
    border-radius: 8px;
    color: #fff;
}


#contact .contact-bg .form-container input{
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.66);
    padding: 20px;
}

#contact .contact-bg .form-container input:focus {
    outline-color: #ff694c;
}



#contact .contact-bg .form-container .form-group input[type="submit"] {
    width: 70%;
    max-width: 100%;
    border-radius: 30px;
    background-color: #fff;
    height: 50px;
    padding: 0;
    line-height: 50px;
    color: #ff694c;
    margin-top: 20px;
    border: 1px solid transparent;
    transition: all .3s ease;
}

#contact .contact-bg .form-container .form-group input[type="submit"]:hover {
    background-color: #ff694c;
    color: #fff;
}

#contact .contact-bg .form-container .form-group button:focus {
    outline: none;
}

#contact ::-webkit-input-placeholder{
    color: #fff;
}

#contact ::-moz-input-placeholder{
    color: #fff;
}

#contact ::-webkit-input-placeholder:focus{
    color: #fff;
}

#contact ::-moz-input-placeholder:focus{
    color: #fff;
}

/* =====================================================================================================================
                                          Footer Section
 ===================================================================================================================*/


#footer .footer-bg {
    height: 400px;
    padding: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;


}

#footer .footer-bg .social-icons{
    padding: 0;
    margin-top: 40px;
}


#footer .footer-bg .social-icons li{
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-right: 0;
    width: 80px;
    height: 60px;
}

#footer .footer-bg .social-icons li a{
    color: #999;
    font-size: 25px;
}

/*#footer .footer-bg p {*/
    /*margin-top: 40px;*/
/*}*/


#footer .footer-bg p a {
    color: #999;
    font-weight: 300;
    text-decoration: none;
}

#footer .footer-bg .social-icons li a,
#footer .footer-bg  p > a  {
    position: relative;
    padding: 5px 10px;
}


#footer .footer-bg .social-icons li a:before,
#footer .footer-bg  p > a:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ff694c;
    bottom: 0;
    left: auto;
    right: 0;
    /*visibility: hidden;*/
    /*transform: scaleX(0);*/
    transition: all .4s ease-in-out;
    /*transform-origin: left;*/
}

#footer .footer-bg .social-icons li a:hover:before,
#footer .footer-bg  p > a:hover:before
{
    /*visibility: visible;*/
    /*transform: scaleX(1);*/
    /*height: 100%;*/
    width: 100%;
    right: auto;
    left: 0;

}


@media screen and (max-width: 600px) {
    section {
        height: 100%!important;
    }

    .navbar-brand img{
        width: 150px;
        margin-top: 10px;
    }

}






/* =====================================================================================================================
                                          Modal form
 ===================================================================================================================*/

.modal-form{
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.modal-form .modal-header{
    border: none;
    padding: 0;
    min-height: 0;
}

.modal-form .modal-header button{
    width: 50px;
    height: 50px;
    background-color: #ff694c;
    border-radius: 50%;
    margin-top: -25px;
    right: -20px;
    position: absolute;
    opacity: 1;
    font-size: 20px;
    color: #fff;
}

.modal-form .modal-header button:focus{
    outline: none;
}

.modal-form .modal-header span {
    font-size: 20px;
    line-height: 50px;
}


.modal-form .modal-content{
    width: 100%;
    border-radius: 10px;
    background: url("../img/footer.png");
    background-color: #fff;
    animation: move 15s linear 1s infinite;
    animation-fill-mode: both;


}


.modal-form .form-container {
    width: 350px;
    max-width: 100%;
    max-height: 100%;
    /*background-color: #ff694c;*/
    padding: 20px;
    text-align: center;
    margin: 0 0 30px 30px;
    color: #565a5c;
    /*float: right;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
}


.modal-form .form-container h3 {
    margin: 30px 30px 60px 5px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}


.modal-form .form-container input[type="submit"] {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: #ff694c;
    color: #fff;
    border: none;
    margin-top: 40px;
    font-weight: 800;
    transition: opacity .3s ease;
}

.modal-form .form-container input[type="submit"]:hover {
    opacity: .7;
}

.rocket{
    position: relative;
    animation: rocket 1s linear 1s infinite;
}

.rocket-tail{
    position: absolute;
    left: 19%;
    top: 77%;

}

.rocket-gone{
    animation: rocket-gone 1s linear 1s ;
    animation-fill-mode: both;
}





@-webkit-keyframes rocket  {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


@-webkit-keyframes rocket-gone   {
    from{
        top: 100%;
    }

    to{
        top: -100%;
    }
}





/*=========Floating labels=============*/


.f-input-group{
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.float-input{
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    width: 100%;
    padding: 10px 10px 10px 40px;
    background-color: transparent;
}


.float-input:focus{
    outline: none;
}


.float-label{
    color: #565a5c;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    font-size: 12px;
}


.label-top{
    visibility: visible;
    opacity: 1;
    top: -20px;
}

.f-input-group span i{
    position: absolute;
    left: 5px;
    bottom: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: #c1c0c1;


}



.f-input-group > input#Message {
    height: 100px;

}


::-webkit-input-placeholder{
    color: #565a5c;
}

::-moz-input-placeholder{
    color: #565a5c;
}

/*==============Floating labels ends here========*/
